@page
@model IndexModel
@{
    // ViewData["Title"] = "Home page";
}

<section class="site-title">
    <div class="site-background" data-aos="fade-up" data-aos-delay="100">
        <h3>Tours & Travels</h3>
        <h1>Amazing Place on Earth</h1>
        <button class="btn">Explore</button>
    </div>
</section>
<style>
        main .site-title .site-background {
            padding-top: 10rem;
            text-align: center;
            color: var(--black);
        }

        main .site-title h1, h3 {
            margin: .3rem;
        }

        main .site-title .btn {
            margin: 1.8rem;
            background: var(--sky);
        }
        main .site-title .btn:hover {
                background: transparent;
                border: 1px solid var(--blue);
                color: var(--red);
         }
</style>